body {
    background-color: #EFEFEF;
}
/* Start navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #EFEFEF;
    display: flex;
    align-items: center;
    z-index: 4;
    box-shadow: 0 1.5px 3px #4646462d;
}

.brand {
    margin-left: 48px;
    height: 100px;
    width: 210.76px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img {
    height: 48px;
    width: 48px;
}

.caption a {
    text-decoration: none;
    color: var(--black);
    font-size: 25.6px;
    font-weight: bold;
    font-family: var(--font);
    margin-left: 10px;
}

.mainmenu {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    flex: 1;
    width: auto;
}

.menu {
    display: flex;
    justify-content: center;
    line-height: 100px;
}

.menu li {
    list-style: none;
    line-height: 100px;
}

.menu li a {
    font-size: var(--size);
    color: var(--black);
    display: block;
    font-family: var(--font);
    padding: 0 21px;
    font-weight: 500;
}

.menu li:hover {
    background-color: white;
}

.social {
    display: flex;
    margin-right: 53px;
}

.social a {
    margin-left: 10px;
}

.icons {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-brands {
    color: var(--black1);
    font-size: 22px;
}

.last-icon-navbar {
    display: none;
}
/* End navbar */

/* Start header1 */
.header1::before {
    background: rgba(12, 12, 12, 0.764);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header1 {
    background-image: url(../images/image1.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 612.15px;
    padding: 38px 0;
    margin: 20px 0 0 0;
    width: auto;
    position: relative;
    display: flex;
    align-items: center;
}

.row-header {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    width: 1140px;
}

.vb-header1 {
    width: 50%;
    margin-right: auto;
    margin-left: 15px;
}

.vb-header1 p {
    color: var(--white);
    font-size: var(--size);
    font-weight: bold;
    margin: 9px 0;
}

.vb-header1 .vb2-header1 {
    font-size: 49.6px;
    margin: 16px 0 32px 0;
}

.vb-header1 .vb3-header1 {
    color: var(--gray);
    font-weight: 500;
    margin: 7px 0;
}

.button-header1 {
    display: flex;
    justify-content: flex-start;
    margin-top: 32px;
    padding-left: 0;
}

.button1 {
    border-radius: 5px;
    padding: 16px 41.6px;
    font-weight: bold;
    font-family: var(--font);
    height: 24px;
    background-color: var(--yellow1);
}

#button1-1 {
    margin: 9.6px 9.6px 9.6px 0;
    border: 1.6px solid var(--yellow1);
    color: var(--black2);
}

#button1-1:hover {
    transition: background-color 0.7s;
    background-color: var(--white);
}

#button1-2 {
    background-color: #33333300;
    margin: 9.6px 9.6px 9.6px 9.6px;
    border: 1.6px solid #464646;
    color: var(--white);
}

#button1-2:hover {
    transition: all 0.7s;
    background-color: var(--yellow1);
    color: var(--black2);
}
/* End header1 */

/* Start section1 */
.section1 {
    background-color: var(--white1);
    padding-top: 96px;
    width: 100%;
}

.row-section1 {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.image-section1 {
    padding: 0 16px;
    width: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
}

.image-section1 img {
    width: 484.2px;
    height: 571.75px;
    border-radius: 10px;
}

.content-section1 {
    padding: 0 16px;
    margin: 23.4px 0;
    box-sizing: border-box;
    width: 50%;
    height: 524.95px;
}

.vb1-content-section1 {
    color: var(--gray1);
    font-size: var(--size);
    font-weight: bold;
    margin-top: 0;
}

.vb2-content-section1 {
    color: var(--black);
    width: 100%;
    font-size: 60.8px;
    font-weight: bold;
    margin: 0;
}

.introduce-jobs {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.icons-section1 {
    height: 137.6px;
    width: 150px;
    background-color: var(--white);
    margin: 30px 25px 0 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.icons-section1 i {
    font-size: 40px;
    color: var(--orange);
}

.vb1-job-section1 {
    color: var(--gray1);
    margin: 32px 0px 16px 0;
    font-size: var(--size);
    line-height: 25px;
    font-family: var(--font);
}

.button-section1 {
    margin-top: 40px;
}

#button1-3 {
    color: var(--black2);
}

#button1-3:hover {
    background-color: var(--white);
    transition: background-color 0.7s;
}
/* End section1 */

/* Start section2 */
.section2 {
    width: 100%;
}

.inner-section2 {
    width: 950px;
    height: auto;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--white);
    border-radius: 10px;
    position: relative;
    display: flex;
}

.content-section2 {
    width: 706.662px;
    height: 355.025px;
    padding: 35px 65px;
    box-sizing: border-box;
}

.vb1-content-section2 {
    color: var(--gray1);
    font-weight: bold;
    font-size: var(--size);
}

.vb2-content-section2 {
    width: 100%;
    margin: 0;
}

.section2 img {
    width: 323.82px;
    height: 426.03px;
    border-radius: 10px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    right: 58px;
}

/* End section2 */


/* Start section3 */
.section3 {
    background-color: var(--white);
    width: 100%;
    height: 308.8px;
    padding: 80px 0;
    margin-top: 100px;
}

.content-section3 {
    width: 1108px;
    height: 308.8px;
    margin-left: auto;
    margin-right: auto;
}

.inner-content-section3 {
    width: auto;
}

.vb1-section3 {
    text-decoration: none;
    color: var(--black);
    font-size: 25.6px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: var(--font);
}

.vb2-section3 {
    margin-top: 20px;
}

.job-section3 {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.item-flex-section3 {
    box-sizing: border-box;
    width: 293.6px;
    height: 26.4px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

.icon-check-section3 {
    display: inline-block;
    background-color: var(--white1);
    height: 40px;
    width: 40px;
    margin-top: 15px;
    margin-right: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vb-flex-section3 {
    display: flex;
    align-items: center;
}
/* End section3 */


/* Start section4 */
.section4 {
    margin-top: 100px;
    width: 1108px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.vb1-section4 {
    text-align: center;
    margin-bottom: 50px;
}

.job-section4 {
    display: flex;
    justify-content: space-around;
}

.item-job-section4 {
    width: 348px;
    margin: 0 16px;
    background-color: var(--white);
    border-radius: 10px;
}

.item-job-section4 img {
    width: 100%;
    height: 225px;
    object-fit: cover;
    border-radius: 10px;
}

.vb-item-section4 {
    padding: 32px 40px;
}

.vb-item-section4 .vb1-job-section1 {
    margin: 0 0 10px 0;
    font-weight: bold;
    font-size: 16px;
}

.vb-item-section4 .vb1-section3 {
    margin: 10px 0;
}
/* End section4 */

/* Start section-video */
.section-video {
    width: 100%;
    background-color: #DCE8EB;
    padding: 80px 0 112px;
    margin-top: 100px;
}

.inner-section-video {
    width: 1108px;
    margin: 0 calc(100% / 2 - 550px) 0;
    text-align: center;
}

.section-video .vb2-content-section1 {
    font-size: 49.6px;
}

.video-section-video {
    margin-top: 40px;
    width: 100%;
    height: 600px;
    background-image: url(../images/image5.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-wrapper-section-video {
    width: 120px;
    height: 120px;
    background: #ffffff;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes icons {
    from {
      width: 120px;
      height: 120px;
      opacity: 1;
    }
    to {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }

  .icon-wrapper-section-video::before{
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    background: #ffffff;
    opacity: 0.8;
    border-radius: 50%;
    animation-duration: 1s;
    animation-name: icons;
    animation-iteration-count: infinite;
    z-index: 0;
}

.icon1{
    font-size: 40px;
    z-index: 2;
    color: #121212;
}
/* End section-video */

/* Start section5 */
.section5 {
    width: 100%;
    padding: 100px 0;
    background-color: var(--white);
}

.inner-section5 {
    width: 980px;
    margin: 0 2vw 0 13vw;
    background-color: #DCE8EB;
    padding: 96px 64px;
    border-radius: 10px;
    margin: 0 auto;
}

.section5 .vb1-job-section1 {
    font-weight: bold;
    margin-top: 0;
}

.section5 .vb2-content-section1 {
    font-size: 49.6px;
}

.form-section5 {
    margin-top: 40px;
}

.input-form-section5 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
}

.text-form {
    border: 0;
    border-radius: 10px;
    padding: 16px 24px;
    width: 260.4px;
}

textarea {
    border-radius: 10px;
    border: 0;
    padding: 16px 24px;
    min-height: 150px;
    width: 95%;
}

.section5 #button1-2{
    background-color: #000000;
    border: 0;
    display: block;
    height: 24px;
    float: right;
}

.section5 #button1-2:hover {
    transition: all 0.7s;
    background-color: var(--yellow1);
    color: var(--black2);
}

.clear-box {
    clear: both;
}
/* End section5 */


/* Start section6 */
.section6 {
    width: 100%;
}
/* End section6 */

footer {
    width: 100%;
    padding: 30px 0;
    font-size: 17.6px;
    color: var(--white);
    text-align: center;
    background-color: #14191e;
}



/* Ipad ngang */
@media screen and (max-width: 992px) {
    /* Navbar */
    .brand {
        margin-left: 20px;
    }

    .last-icon-navbar {
        display: block;
        position: absolute;
        right: 10px;
    }

    .last-icon-navbar .fa-bars {
        font-size: 30px;
    }

    .mainmenu {
        display: none;
    }

    .social {
        display: none;
    }
    /* End navbar */

    /* Header1 */
    .vb-header1 {
        width: 73%;
        margin-left: auto;
        margin-right: auto;
    }
    /* End header1 */

    /* Section1 */
    .row-section1 {
        flex-wrap: wrap;
        width: 720px;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
    }

    .image-section1 {
        width: 100%;
        justify-content: center;

    }

    .image-section1 img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .content-section1 {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .content-section1 .vb2-content-section1 {
        font-size: var(--size992);
    }
    /* End section1 */

    /* Section2 */
    .section2 {
        width: 100%;
    }

    .inner-section2 {
        flex-wrap: wrap;
        width: 690px;
        box-sizing: border-box;
        height: auto;
    }

    .content-section2 {
        width: 100%;
        height: auto;
    }

    .vb2-content-section2 {
        font-size: var(--size992);
    }

    .image-section2 {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .image-section2 img {
        position: static;
    }
    /* End section2 */

    /* Section3 */
    .section3 {
        height: auto;
    }

    .content-section3 {
        width: auto;
        height: auto;
    }

    .inner-content-section3 {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .job-section3 {
        flex-direction: column;
    }
    /* End section3 */

    /* Section4 */
    .section4 {
        width: 100%;
    }

    .job-section4 {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }

    .item-job-section4:last-child {
        margin-top: 30px;
    }
    /* End section4 */

    /* Section-video */
    .inner-section-video {
        width: 690px;
        margin: 0 calc(100% / 2 - 350px);
    }
    /* End section-video */

    /* Section5 */
    .inner-section5 {
        width: 560px;
    }

    .input-form-section5 {
        flex-direction: column;
    }

    .text-form {
        width: 90%;
        margin-bottom: 15px;
    }

    .textarea1 {
        width: 90%;
    }
    /* End section5 */
}
/* End Ipad ngang */



/* Ipad dọc */
@media screen and (max-width: 768px) {
/* Header1 */
    .vb-header1 {
        text-align: center;
    }

    .button-header1 {
        justify-content: center;
    }
/* End header1 */

/* Section1 */
    .row-section1 {
        text-align: center;
        justify-content: center;
    }

    .image-section1 {
        width: 540px;
        box-sizing: border-box;
    }

    .image-section1 img {
        width: 510px;
        height: auto;
        object-fit: cover;
    }

    .content-section1 {
        width: auto;
        max-width: 540px;
        box-sizing: border-box;
    }

    .content-section1 .vb2-content-section1 {
        font-size: var(--size768);
        width: 100%;
    }

    .icons-section1 {
        margin: 20px 10px 16px 10px;
    }
/* End section1 */

/* Section2 */
    .section2 {
        width: 100%;
        text-align: center;
    }

    .inner-section2 {
        width: 90%;
        height: auto;
    }

    .content-section2 {
        width: 90%;
        font-size: calc( 1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20)));;
    }

    .section2 img {
        max-width: 90%;
        height: auto;
        object-fit: cover;
    }
/* End section2 */

/* Section3 */
    .section3 {
        text-align: center;
    }
/* Start section3 */

/* Section4 */
    .section4 {
        width: 540px;
    }

    .vb1-section4 {
        text-align: center;
    }

    .job-section4 {
        flex-direction: column;
    }

    .item-job-section4 {
        width: 510px;
        height: 325.913px;
    }

    .item-job-section4:first-child {
        margin-bottom: 30px;
    }

    .vb-item-section4 {
        padding: 10px 20px;
    }
/* End section4 */

/* Section-video */
    .inner-section-video {
        width: 510px;
        margin: 0 calc(100% / 2 - 250px);
    }

    .video-section-video {
        height: 300px;
    }
/* End section-video */

/* Section5 */
.inner-section5 {
    width: 508px;
    padding: 48px 10px;
    text-align: center;
}

.section5 .vb2-content-section1 {
    font-size: 7vw;
}

.button-section5 {
    display: flex;
    justify-content: center;
}
/* End section5 */
}
/* End Ipad dọc */



/* Điện thoại */
@media screen and (max-width: 576px) {
    /* Header1 */
    .header1 .vb2-header1 {
        font-size: 10vw;
    }

    .button-header1 {
        flex-wrap: wrap;
    }
    /* End header1 */

    /* Section1 */
    .section1 {
        width: 100%;
    }
    .row-section1 {
        width: 100%;
    }

    .image-section1 {
        width: 90%;
    }

    .image-section1 img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .content-section1 {
        width: 90%;
        height: auto;
    }

    .introduce-jobs {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }

    .content-section1 .vb2-content-section1 {
        font-size: 10vw;
    }
    /* End section1 */

    /* Section2 */
    .section2 .vb2-content-section2 {
        font-size: 10vw;
    }
    /* End section2 */

    /* Section4 */
    .section4 {
        width: 100%;
    }

    .inner-section4 {
        width: 100%;
    }

    .job-section4 {
        width: 100%;
    }

    .item-job-section4 {
        width: 90%;

    }

    .job-section4 img {
        width: 100%;
        height: 225px;
        object-fit: cover;
        vertical-align: middle;
    }

    .section4 .vb1-section4 {
        font-size: 9vw;
    }

    .section4 .vb1-section3 {
        font-size: 7vw;
    }
    /* End section4 */

    /* Section-video */
    .inner-section-video {
        width: 100%;
        margin: 0;
        padding: 10px;
    }

    .video-section-video {
        width: 96%;
    }

    .section-video .vb2-content-section1 {
        font-size: 7vw;
    }
    /* End section-video */

    /* Section5 */
    .inner-section5 {
        width: 95%;
    }

    .form-section5 {
        width: 100%;
    }

    .input-form-section5 {
        width: 100%;
        padding-right: 5vw;
    }

    .text-form {
        width: auto;
    }

    .text2-form-section5 {
        width: 100%;
        padding-right: 5vw;
        display: flex;
        justify-content: center;
    }

    .textarea1 {
        width: 95%;
    }
    /* End section5 */
}
/* End điện thoại */
